{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">
  <title>Monthly Calendar</title>
</head>
<body>
  <div class="sidenav">
    <a href="{% url 'cal:monthlycalendar' %}">Home</a>
  </div>
  <div class="main-content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>